/* App.css */
.App {
  text-align: center;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  list-style: none;
}

.menu-item {
  margin-right: 20px;
}

.menu-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.submenu {
  display: flex;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  padding: 0;
  list-style: none;
  display: none;
}

.submenu-button {
  color: white;
  background-color: transparent;
  border: none;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
}

.menu-item:hover .submenu {
  display: block;
}

.categoria-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.grid-item {
  background-color: #555;
  color: white;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.add-button {
  background-color: #0074d9;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.save-button {
  background-color: #0074d9;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.close-button {
  background-color: #ff4136;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* styles.css */
.input-container {
  position: relative;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.suggestions-container {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
}

.suggestion {
  padding: 8px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f5f5f5;
}
