/* App.css */
.App {
  text-align: center;
  display: flex;
}

body{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  width: 99%;
}

.containerGlob {
    display: flex;
    width: 100%;
    padding-left: 20px;
    padding-top: 5px;
}

.App-header {
  position: absolute;
  width: 15%;
  height: 100%; 
  /*For selected use BGC 005C64*/
  background-color: #136971;
}

.content {
  margin-left: 20%;
  padding-right: 20px;
  padding-top: 20px;
}

.content input {
  width: 150px;
}

.menu-bar {
  width: 100%;
  height: 100%;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.menu-item {
  height: 100px;
  align-content: center;
  text-align: center;
  margin-top: 20px;
}

.menu-button {
  background-color: transparent;
  border: none;
  padding: 15px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  font-size: x-large;
}

.btn-pedidos{
  width: 110%;
  height: 100%;
  margin-left: -5%; 
  margin-top: 20px; 
  background-color: #21B3BF;
  font-size: xx-large;
  font-weight: bold;
  border: none;
}

.active {
  background-color: #0E5258 !important;
  border-radius: 16px;
  cursor: pointer;
}

.down{
  margin-top: auto;
  background-color: #198B95;
  align-content: center;
}

.submenu {
  display: flex;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  padding: 0;
  list-style: none;
  display: none;
  z-index: 2000;
}

.submenu-button {
  color: white;
  background-color: transparent;
  border: none;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
}

.menu-item:hover .submenu {
  display: block;
}

.categoria-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.grid-item {
  background-color: #555;
  color: white;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.add-button {
  background-color: #0074d9;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.save-button {
  background-color: #0074d9;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.close-button {
  background-color: #ff4136;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* styles.css */
.input-container {
  position: relative;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.suggestions-container {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
}

.suggestion {
  padding: 8px;
  cursor: pointer;
}

.highlighted {
  background-color: lightblue; /* Adjust as needed */
  /* Additional styling for highlighted suggestion */
}

.suggestion:hover {
  background-color: #f5f5f5;
}

.logo{
  width: 95px;
  height: 95px;
}

.container-title {
  height: 50vh;
  display: flex; /* Enable flexbox */
  align-items: center; /* Align elements vertically to the center */
  justify-content: center; /* Center content horizontally */
}

.text-and-form {
  margin-left: 40px;
  display: flex; /* Enable flexbox for the text and form container */
  align-items: center; /* Align text and form vertically within their container */
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.1vh;
}

.login-form {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  width: 30%;
  height: 40px;
  background-color: #157F88;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.login-form button:hover {
  background-color: #005C64;
}

.placeholder-group {
  position: relative;
  margin-bottom: 5px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 10px; /* Adjust horizontal position */
  top: 40%;
  transform: translateY(-50%); /* Center vertically */
  transition: 0.2s ease all;
  color: gray; /* Style the placeholder text */
  opacity: 0.5; /* Set initial opacity for a subtle placeholder effect */
}

.placeholder-control:not(:empty) ~ .floating-label,
.placeholder-control:focus ~ .floating-label,
.placeholder-control:not(:focus):valid ~ .floating-label {
  top: -10px; /* Adjust position */
  padding-top: 5px;
  font-size: 10px; /* Adjust font size */
  opacity: 1;
}